<mat-grid-list class="about-section" cols="2" rowHeight="500" >
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>
     <div class="about-content">
      <h4 class="sub-title">about me</h4>
      <h2 class="title">Hi i ‘a  a  full stack developer </h2>
      <p class="paragraph">It is a long established fact that a reader will be distracted by the readable 
        content of a page when looking at its layout. The point of using Lorem Ipsum is that it  has a more-or-less normal 
        <br><br>
        Distribution of letters, as opposed to using 'Content here, content here',
        
        It is a long established fact that a reader will be distracted by the readable 
        content of a page when looking at its layout. The point of using Lorem Ipsum is that</p>
        <button class="btn-download"  mat-button>KNOW MORE</button>
     </div>
 
    </mat-grid-tile>
    </mat-grid-list>