
    <div class="container-fluid" style="">
      <div class="row">
        <div class="col-md-6 py-4">
          <div class="image-cont">
            <img src="../../../assets/about_pic.jpg" class="img-fluid" alt="" width="60%">
          </div>
        </div>
        <div class="col-md-6 py-4">
          <div class="about-content">
            <h4 class="sub-title">about me</h4>
            <h2 class="title">Hi i ‘a  a  full stack developer </h2>
            <p class="paragraph">It is a long established fact that a reader will be distracted by the readable 
              content of a page when looking at its layout. The point of using Lorem Ipsum is that it  has a more-or-less normal 
              <br><br>
              Distribution of letters, as opposed to using 'Content here, content here',
              
              It is a long established fact that a reader will be distracted by the readable 
              content of a page when looking at its layout. The point of using Lorem Ipsum is that</p>
             <br>
             <b>Name : Md karimul islam</b>
             <br>
             <b>Age : 35</b><br>
             <b>Country : India</b><br>
             <b>City : Kolkata</b>
           </div>
       
        </div>
      </div>
   <div class="container">
    <div class="row text-center">

<div class="col-md-4">
  <h3>Experience</h3>
  <span>3 years</span>
</div>
<div class="col-md-4">
  <h3>projects</h3>
  <span>300</span>
</div>
<div class="col-md-4">
  <h3>Success client</h3>
  <span>3 years</span>
</div>
      <!-- <h3>Skills</h3>
     <div class="col-md-2">
      <img src="../../../assets/github.svg" width="100px" alt="">
     </div>
     <div class="col-md-2">
      <img src="../../../assets/github.svg" width="100px" alt="">
     </div>
     <div class="col-md-2">
      <img src="../../../assets/github.svg" width="100px" alt="">
     </div>
     <div class="col-md-2">
      <img src="../../../assets/github.svg" width="100px" alt="">
     </div>
     <div class="col-md-2">
      <img src="../../../assets/github.svg" width="100px" alt="">
     </div>
     <div class="col-md-2">
      <img src="../../../assets/github.svg" width="100px" alt="">
     </div> -->
    </div>
   </div>
      
    </div>