<div class="container">

    <div class="service-heading">
        <h4 class="sub-title">Message us</h4>
        <h2 class="title">any idea that you want to implements </h2>
    </div>


<div class="row feed">


    <div class="col-md-6">
        <div class="message-cont">
            <div class="img-cont"></div>
            <div class="message">
                <p>
                    <q>
                        I recently purchased XYZ Electronics' latest gadget and I'm extremely satisfied with its performance! The product arrived on time, and the quality is top-notch. The customer service team was also very helpful in addressing my queries before I made the purchase. I would highly recommend XYZ Electronics to anyone looking for reliable and innovative tech products
                    </q>
                </p>
                <span class="title">
                    ceo of mohindea 
                </span>
                <span class="name">Mr narayan</span>
           
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="message-cont">
            <div class="img-cont"></div>
            <div class="message">
                <p>
                    <q>
                        I recently purchased XYZ Electronics' latest gadget and I'm extremely satisfied with its performance! The product arrived on time, and the quality is top-notch. The customer service team was also very helpful in addressing my queries before I made the purchase. I would highly recommend XYZ Electronics to anyone looking for reliable and innovative tech products
                    </q>
                </p>
                <span class="title">
                    ceo of mohindea 
                </span>
                <span class="name">Mr narayan</span>
            </div>
        </div>
    </div>
  
  
  
   
</div>


</div>