<div class="services">

 
        <mat-grid-list cols="2"  rowHeight="300px" >
            <mat-grid-tile colspan="2" >
              <div class="service-heading">
                  <h4 class="sub-title">services</h4>
                  <h2 class="title">my core services</h2>
              </div>
            </mat-grid-tile >

            <mat-grid-tile colspan="2" class="service-item">
                <div>
                    <div class="front-end">
                        <h4 class="sub-title">services</h4>
                        <h2 class="title">my core services</h2>
                    </div>
    
                    <div class="front-end">
                        <h4 class="sub-title">services</h4>
                        <h2 class="title">my core services</h2>
                    </div>
    
                    <div class="front-end">
                        <h4 class="sub-title">services</h4>
                        <h2 class="title">my core services</h2>
                    </div>
                </div>
             
              </mat-grid-tile>

        

             

          </mat-grid-list>
   
   


   
    
</div>

<!-- <div class="all-services">
    <mat-grid-list  cols="3" rowHeight="1:3">
        <mat-grid-tile>
          <div class="front-end"></div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div class="back-end"></div>
        </mat-grid-tile>
        <mat-grid-tile>
        <div class="deploy"></div>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->