.nav-cont {
  width: 100%;
  height: auto;
  border: 1px solid red;
}

mat-toolbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  float: left;
}

mat-toolbar-row {
  width: auto;
}

.nav-bar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .nav-bar-items a {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
}

.btn-download {
  color: #ddd;
  font-size: 13px;
  font-weight: 500;
  background-color: transparent;
  padding: 8px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 2px;
}