<header class="nav-cont">
    <mat-toolbar >
        <mat-toolbar-row>
            <!-- <button mat-icon-button>
                <mat-icon>menu</mat-icon>
              </button> -->
        </mat-toolbar-row>
        <mat-toolbar-row class="nav-bar">
            <div class="nav-bar-items">
                <a mat-button routerLink="/">Home</a>
                <a mat-button routerLink="/about">About</a>
                <a mat-button routerLink="/contact">Contact</a>
                <a mat-button routerLink="/about">About</a>
                <a mat-button routerLink="/contact">Contact</a>
            </div>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button class="btn-download"><span>Download Resume</span>&nbsp;<span class="material-symbols-outlined">download</span></button>
        </mat-toolbar-row>
       
     
       
      </mat-toolbar>
    </header>


   

  




